.nav {
    width: 1200px;
    top: 1px;
    margin: 0;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
}

.nav ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav li {
    font-family: 'Trispace', sans-serif;
    display: inline;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.border {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}